!/storage/.keep
!/tmp/.keep
*.swp
.DS_Store
.bundle
.byebug_history
.project
.sass-cache
.settings
/config/master.key
/db/*.sqlite3
/db/*.sqlite3-journal
/node_modules
/storage/*
/tmp/*
/yarn-error.log
coverage
log/*.log*
logfile
public/appstore
public/assets/
spec/reports/
test/*
vendor/bundle/
vendor/cache/
config/local_env.yml.erb

